<%- model_class = Commitment -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Who is playing" %></h1>
</div>
<%= link_to "Today", commitments_path(date: "today") %> |
<%= link_to "Tomorrow", commitments_path(date: "tomorrow") %> |
<%= link_to "In Coming Days", commitments_path %>



<table class="table table-striped">
  <thead>
    <tr>
      <th>Player</th>
      <th>For (hours)</th>
      <th>Plays On</th>
    </tr>
  </thead>
  <tbody>
    <% @commitments.each do |commitment| %>
      <tr>
        <td><%= commitment.user.username %></td>
        <td><%= commitment.duration %></td>
        <td><%= commitment.start_at.strftime("%B %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_commitment_path,
            :class => 'btn btn-primary' %>
